.room-wrapper {
    .smart-standard {
        margin: 100px 0;
        
        @include md-devices {
            margin: 150px 0;
        }
        @include xl-devices {
            margin: 180px 0;
        }
        .room-slider {
            @include lg-devices {
                max-width: 700px;
            }
            .slider-navigation {
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: #F3F5F7;
                z-index: 1;
                display: flex;
                align-items: center;
                gap: 0 25px;
                padding: 10px 20px;
                
                @include md-devices {
                    padding: 14px 25px;
                }
    
                div {
                    svg {
                        transition: all 0.3s ease-out 0s;
                    }
    
                    &.swiper-button-disabled {
                        svg {
                            fill: #A8A8A8;
                        }
                    }
                }
            }
        }
        .room-details {
            position: relative;
            z-index: 1;
            padding: 0 15px 30px 20px;
            
            @include sm-devices {
                padding: 0 30px 30px 30px;
            }
            @include md-devices {
                padding: 0 40px 50px 40px;
            }
            @include xl-devices {
                padding: 0 35px 50px 35px;
            }
            @media (min-width: 1760px) {
                padding: 0 55px 50px 55px;
            }
            &::before {
                content: "";
                top: 30px;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-color: #F3F5F7;
                z-index: -1;

                @include md-devices {
                    top: 45px;
                }
                @media (min-width: 1760px) {
                    top: 50px;
                }
            }

            h1 {
                margin-bottom: 18px;

                @media (min-width: 1365px) {
                    margin-bottom: 22px;
                }
                @media (min-width: 1760px) {
                    margin-bottom: 30px;
                }

            }
            .room-features {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                margin: 30px 0;
                gap: 5px 15px;
                padding: 15px;
                background: #FAFBFC;
                border: 1px solid #CED5D6;

                @include sm-devices {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include md-devices {
                    grid-template-columns: repeat(4, 1fr);
                }
                @include lg-devices {
                    display: inline-flex;
                    flex-wrap: wrap;
                }
                @media (min-width: 1300px) {
                    padding: 20px;
                }

                li {
                    position: relative;
                    span {
                        color: var(--color__black);
                        font-size: 0.875rem;

                        @media (min-width: 1300px) {
                            font-size: 1rem;
                        }
                        &.icon {
                            margin-right: 10px;

                            @include md-devices {
                                margin-right: 15px;
                            }
                            img {
                                width: 25px;
                            }
                        }
                    }
                    & + li {
                        &::before {
                            @include lg-devices {
                                content: '|';
                                display: inline-block;
                                color: #CED5D6;
                                margin: 0 20px 0 10px;
                            }
                            @include xl-devices {
                                margin: 0 10px 0 0;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .smart-delux {
        margin: 100px 0;
        
        @include md-devices {
            margin: 150px 0;
        }
        @include xl-devices {
            margin: 180px 0;
        }

        .image-group {
            @include max-lg {
                display: none;
            }
            .img1 {
                margin-top: 100px;
            }
        }
        .room-details {
            position: relative;
            z-index: 1;
            padding: 0 15px 30px 20px;
            
            @include sm-devices {
                padding: 0 30px 30px 30px;
            }
            @include md-devices {
                padding: 0 40px 50px 40px;
            }
            @include xl-devices {
                padding: 0 35px 50px 35px;
            }
            @media (min-width: 1760px) {
                padding: 0 55px 50px 55px;                
            }
            &::before {
                content: "";
                top: 50px;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-color: #F3F5F7;
                z-index: -1;
            }
            h1 {
                margin-bottom: 30px;
            }
            .room-features {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                margin: 30px 0;
                gap: 5px 15px;
                padding: 15px;
                background: #FAFBFC;
                border: 1px solid #CED5D6;

                @include sm-devices {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include lg-devices {
                    display: inline-flex;
                    flex-wrap: wrap;
                }
                @media (min-width: 1300px) {
                    padding: 20px;
                }

                li {
                    position: relative;
                    span {
                        color: var(--color__black);
                        font-size: 0.875rem;

                        @media (min-width: 1300px) {
                            font-size: 1rem;
                        }
                        &.icon {
                            margin-right: 10px;

                            @include md-devices {
                                margin-right: 15px;
                            }
                            img {
                                width: 25px;
                            }
                        }
                    }
                    & + li {
                        &::before {
                            @include lg-devices {
                                content: '|';
                                display: inline-block;
                                color: #CED5D6;
                                margin: 0 20px 0 10px;
                            }
                            @include xl-devices {
                                margin: 0 10px 0 0;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .smart-suit {
        margin: 100px 0;
        
        @include md-devices {
            margin: 150px 0;
        }
        @include xl-devices {
            margin: 180px 0;
        }
        .room-details {
            position: relative;
            z-index: 1;
            padding: 0 15px 30px 20px;
            
            @include sm-devices {
                padding: 0 30px 30px 30px;
            }
            @include md-devices {
                padding: 0 40px 50px 40px;
            }
            @include xl-devices {
                padding: 0 35px 50px 35px;
            }
            @include xxl-devices {
                padding: 0 35px 50px 50px;
            }
            @media (min-width: 1760px) {
                padding: 0 55px 50px 55px;                
            }
            &::before {
                content: "";
                top: 50px;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-color: #F3F5F7;
                z-index: -1;
            }
            h1 {
                margin-bottom: 30px;
            }
            .room-features {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                margin: 30px 0;
                gap: 5px 15px;
                padding: 15px;
                background: #FAFBFC;
                border: 1px solid #CED5D6;

                @include sm-devices {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include md-devices {
                    display: inline-flex;
                    flex-wrap: wrap;
                }
                @media (min-width: 1300px) {
                    padding: 20px;
                }

                li {
                    position: relative;
                    span {
                        color: var(--color__black);
                        font-size: 0.875rem;

                        @media (min-width: 1300px) {
                            font-size: 1rem;
                        }
                        &.icon {
                            margin-right: 10px;

                            @include md-devices {
                                margin-right: 15px;
                            }
                            img {
                                width: 25px;
                            }
                        }
                    }
                    & + li {
                        &::before {
                            @include md-devices {
                                content: '|';
                                display: inline-block;
                                color: #CED5D6;
                                margin: 0 20px 0 10px;
                            }
                            @include xl-devices {
                                margin: 0 10px 0 0;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .image-group {
            
            @media (min-width: 1760px) {
                margin-top: -160px;
                margin-left: 40px;                
            }
        }
    }

}