@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
    }
}
@media (min-width: 1760px) {
    .container {
        max-width: 1680px;
    }
}
/*--------------------------------------------------------------
    [ ## Header ]
--------------------------------------------------------------*/
@import "header";


/*--------------------------------------------------------------
    [ ## Page Banner]
--------------------------------------------------------------*/
@import "page-banner";


/*--------------------------------------------------------------
    [ ## Footer ]
--------------------------------------------------------------*/
@import "footer";
