#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    background-color: #f1f1f1;

    .preloader-dot {
        width: 0;
        height: 0;
        border: 2px solid var(--color__green);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 1;
        animation: preloader 3s ease infinite;
        -ms-animation: preloader 3s ease infinite;
        -moz-animation: preloader 3s ease infinite;
        -webkit-animation: preloader 3s ease infinite;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }
}